<div class="modal fade" id="editDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ "invoice.data_correction" | translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Imię" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="second_name" placeholder="Nazwisko" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="post_code" placeholder="Kod pocztowy" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="city" placeholder="Miejscowość" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="street" placeholder="Ulica" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="row gx-5">
                            <div class="col-6">
                                <input type="text" class="form-control" id="home_no" placeholder="Numer domu" required>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="flat-no" placeholder="Numer mieszkania">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary rounded-pill text-uppercase mt-3 w-100" type="submit">{{ "invoice.save" | translate}}</button>
                    <button type="button" class="btn btn-outline-primary rounded-pill text-uppercase mt-3 w-100" data-bs-dismiss="modal">{{ "ignore" | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
