<div class="row align-items-center">
    <ng-content select="[select-item]"></ng-content>
    <photo-description [class]="productItemModel.imgDescCol.colSize" [imageDescriptionProduct]="productItemModel.imgDescCol" [imgWidth]="100"></photo-description>
    <div *ngIf="productItemModel.showDiscountButton" class="col-2">
        <a href="#" class="btn btn-outline-secondary btn-light btn-sm rounded-pill text-uppercase"><i class="bi bi-check-circle"></i> {{ "product.discount" | translate}}</a>
    </div>
    <ng-content select="[numberSpinner]"></ng-content>
    <cell-data-label *ngFor="let cell of productItemModel.cellLabelValue" [class]="cell.colSize" [value]="cell.value" [label]="cell.label"></cell-data-label>
    <div *ngIf="productItemModel.showDetailsButton" class="col-2">
        <button class="btn btn-outline-secondary btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWrapper" (click)="showDetails()">{{ "product.details" | translate }}</button>
    </div>
</div>