<div class="d-flex flex-row align-items-center">
    <ng-content select="[select-item]"></ng-content>
    <div class="d-flex flex-column col-4">
        <!-- <div class="d-flex flex-row justify-content-around align-items-center">
            <div class="d-flex flex-column">
                <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." class="img-thumbnail" style="width: 150px;">
            </div>
            <div class="flex-column w-50">
                <label class="control-label fs-5" id="name">Philips 70PUS6704/12</label>
                <div class="d-flex fs-6">
                    <label class="control-label text-secondary" id="type">Telewizor LED</label>
                    <label class="control-label text-secondary ms-4" id="number">1194364</label>
                </div>
            </div>
        </div> -->
        <photo-description imgWidth="150"></photo-description>
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center w-100">
        <div *ngIf="showDiscountButton" class="col-2">
            <a href="#" class="btn btn-outline-secondary btn-light btn-sm rounded-pill text-uppercase"><i class="bi bi-check-circle"></i> {{ "product.discount" | translate}}</a>
        </div>
        <div *ngIf="showPieces" class="d-flex flex-column col-2">
            <label for="count" class="control-label fs-5">3</label>
            <label class="control-label text-secondary" id="count">{{ "product.count" | translate}}</label>
        </div>
        <ng-content select="[numberSpinner]"></ng-content>
        <div class="d-flex flex-column col-2">
            <label for="sum" class="control-label fs-5">11 456,00zł</label>
            <label class="control-label text-secondary" id="sum">{{ "product.sum" | translate}}</label>
        </div>
        <div class="d-flex flex-column col-2">
            <label for="status" class="control-label fs-5">w trakcie</label>
            <label class="control-label text-secondary" id="status">{{ "product.status" | translate}}</label>
        </div>
        <div *ngIf="showDetailsButton" class="d-flex flex-column col-2">
            <button class="btn btn-outline-secondary btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWrapper" (click)="showDetails()">{{ "product.details" | translate }}</button>
        </div>
    </div>
</div>