<div class="container">
    <div *ngFor="let notification of notifications" id="alert" class="{{cssClass(notification)}}">
        <div class="d-flex justify-content-between">
            <h4 class="alert-heading" id="alertHeader"><i [class]="imgClass(notification)"></i> {{ notification.title }}</h4>
            <button type="button" class="btn-close" id="btnClose" data-dismiss="alert" (click)="removeNotification(notification)"></button>
        </div>
        <p id="messageText">{{ notification.message }}</p>
    </div>
</div>