<div class="offcanvas-header fs-4 fw-bold align-items-center">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ "product.details" | translate }} <span class="text-secondary">Philips 70PUS6704/12</span></h5>

    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <ul class="list-group overflow-auto">
        <li class="list-group-item border-0">
            <product-details></product-details>
        </li>
        <li class="list-group-item bg-light bg-gradient border-0">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="flex-column">
                        <div class="row gx-4 align-items-center">
                            <div class="col-1 d-flex justify-content-center"><span><i class="bi bi-plus fa-4x"></i></span></div>
                            <div class="col-5" style="width: auto;">
                                <label class="fw-bolder fs-list-item">Przedłuż Gwarancję® wariant PODSTAWOWY - 5 lat</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <button type="button" class="btn btn-outline-secondary btn-light btn-sm rounded-pill">{{ "product.guarantee" | translate }}</button>
                </div>
                <div class="col-1">
                    <div class="d-flex flex-column">
                        <label>380,00</label>
                        <label class="fs-placeholder text-secondary">{{ "product.price" | translate}}</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="d-flex flex-column">
                        <label>do opłacenia</label>
                        <label class="fs-placeholder text-secondary">{{ "product.status" | translate}}</label>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-outline-primary">{{ "ignore" | translate}}</button>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-6">
                    <div class="flex-column">
                        <div class="row gx-4 align-items-center">
                            <div class="col-1 d-flex justify-content-center">+</div>
                            <div class="col-5" style="width: auto;">
                                <label class="fw-bolder fs-list-item">Pakiet MAX - wniesienie, przykręcenie podstawy, podłączenie, uruchomienie, wyszukanie kanałów cyfrowych</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <button type="button" class="btn btn-outline-secondary btn-light btn-sm rounded-pill">{{ "product.service" | translate}}</button>
                </div>
                <div class="col-1">
                    <div class="d-flex flex-column">
                        <label>79,00 zł</label>
                        <label class="fs-placeholder text-secondary">{{ "product.price" | translate}}</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-column">
                        <label>w trakcie</label>
                        <label class="fs-placeholder text-secondary">{{ "product.status" | translate}}</label>
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item border-0">
            <product-details></product-details>
        </li>
    </ul>
    <hr class="w-100">
    <div class="row">
        <div class="col-7">
            <h3 class="fs-4 fw-bold">{{ "product.sum" | translate}}</h3>
        </div>
        <div class="col-1">
            <div class="d-flex flex-column">
                <label class="ms-3">1</label>
                <label class="ms-3 fs-placeholder text-secondary">{{ "product.count" | translate}}</label>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex flex-column">
                <label>1</label>
                <label class="fs-placeholder text-secondary">{{ "product.sum" | translate}}</label>
            </div>
        </div>
    </div>

</div>
