<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="orderListTitle">{{ "product.details" | translate }} <span class="text-secondary">Philips 70PUS6704/12</span></h5>
    <button type="button" class="btn-close text-reset" id="btnClose" data-bs-dismiss="offcanvas" aria-label="Close" (click)="close()"></button>
</div>
<div class="offcanvas-body">
    <ul class="list-group overflow-auto" id="orderList">
        <li class="list-group-item border-0">
            <product-details></product-details>
        </li>
        <li class="list-group-item bg-light bg-gradient border-0">
            <product-add-service [productOrderService]="getExtendWarranty()"></product-add-service>
            <hr class="w-100">
            <product-add-service [productOrderService]="getSocketMax()"></product-add-service>
        </li>

        <li class="list-group-item border-0">
            <product-details></product-details>
        </li>
    </ul>
    <hr class="w-100">
    <div class="row">
        <div class="col-8 me-4">
            <h3 class="fs-4 fw-bold" id="textSum">{{ "product.sum" | translate}}</h3>
        </div>
        <cell-data-label class="col-1" style="max-width: 140px;" id="productPieces" value="2" label="{{ 'product.count' | translate }}"></cell-data-label>
        <cell-data-label class="col-1" value="11 456,00 zł" id="sumPrices" label="{{ 'product.sum' | translate }}"></cell-data-label>
    </div>
</div>
