<div class="d-flex flex-row  align-items-center ">
    <!-- <div class="d-flex flex-column"> -->
    <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." class="img-thumbnail" [style.width.px]="imgWidth">
    <!-- </div> -->
    <div class="flex-column w-50 ms-4">
        <label class="fw-bolder" id="name">Philips 70PUS6704/12</label>
        <div class="d-flex fs-6">
            <label class="control-label text-secondary" id="type">Telewizor LED</label>
            <label class="control-label text-secondary ms-4" id="number">1194364</label>
        </div>
    </div>
</div>
