<div class="card position-relative bg-light border rounded-3 shadow">
    <label>
  <div class="card-body">
      <input class="form-check-input checkmark" type="checkbox" value="" id="flexCheckChecked" checked>
          <div class="w-100 mt-4">
              <div class="d-flex justify-content-between">
                  <h3 class="fs-4 fw-bolder">{{ name }}</h3>
                  <a href="#">{{ "invoice.change" | translate}}</a>
              </div>
              <div class="d-flex flex-column">
                  <h4 class="fs-6">{{ street }}</h4>
                  <h4 class="fs-6">{{ cityCode }}</h4>
              </div>
          </div>
  </div>
</label>
</div>