<div class="row align-items-center">
    <div class="col-1">
        <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." class="img-thumbnail" style="width: 100px;">
    </div>
    <div class="col-4">
        <div class="d-flex flex-column">
            <label class="fw-bolder">Philips 70PUS6704/12</label>
            <label class="fs-placeholder text-secondary">{{ "invoice.product_name" | translate}}</label>
        </div>
    </div>

    <div class="col-2">
        <div class="d-flex flex-column">
            <label>telewizor LED</label>
            <label class="text-secondary fs-placeholder">{{ "invoice.commodity_group" | translate}}</label>
        </div>
    </div>

    <div class="col-1">
        <div class="d-flex flex-column">
            <label>123456</label>
            <label class="text-secondary fs-placeholder">{{ "invoice.plu" | translate}}</label>
        </div>
    </div>
    <div class="col-1">
        <div class="d-flex flex-column">
            <label>1</label>
            <label class="text-secondary fs-placeholder">{{ "product.count" | translate}}</label>
        </div>
    </div>
    <div class="col-1">
        <div class="d-flex flex-column">
            <label>3 458,00 zł</label>
            <label class="text-secondary fs-placeholder">{{ "invoice.unit_price" | translate}}</label>
        </div>
    </div>
    <div class="col-1">
        <div class="d-flex flex-column">
            <label>3 458,00 zł</label>
            <label class="text-secondary fs-placeholder">{{ "product.sum" | translate}}</label>
        </div>
    </div>
</div>