<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide" data-interval="false" data-ride="carousel">

    <!--/.Controls-->

    <button class="carousel-control-prev w-auto" type="button" data-bs-target="#multi-item-example" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
    <button class="carousel-control-next w-auto" type="button" data-bs-target="#multi-item-example" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

    <!--Slides-->
    <div class="carousel-inner w-75 mx-auto" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <div class="col-md-3">
                    <client-address-card name="Katarzyna Lek" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                </div>

                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Alicja Bak" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>

                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Kazimierz Wasyl" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>

                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Sebastian Lech" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-2">
                        <client-address-card name="Józef Tych" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>

                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Adam Sęk" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>

                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Michał Zin" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>
                <div class="col-md-3 clearfix d-none d-md-block">
                    <div class="card mb-2">
                        <client-address-card name="Bartosz Kowal" street="Muszkieterów 15," codeCity="00-268 Warszawa"></client-address-card>
                    </div>
                </div>
            </div>

        </div>
        <!--/.Second slide-->

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->