<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Szczegóły <span class="text-secondary">Philips 70PUS6704/12</span>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="close()"></button>
</div>
<div class="offcanvas-body">
    <div class="d-flex flex-column">

        <ul class="list-group ">
            <li class="list-group-item border-0 border-bottom">
                <product-item [productItemModel]="productItemOrder"></product-item>
            </li>
            <li class="list-group-item border-0 border-bottom">
                <product-item [productItemModel]="productItemOrder"></product-item>
            </li>
            <!-- <li class="list-group-item border-0 border-bottom">
                <div class="row align-items-center">
                    <div class="col-1 d-flex align-items-center d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary rounded-pill"><i class="bi bi-check-circle"></i> <i class="bi bi-plus"></i>Usługa</button>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <label class="fw-bolder fs-list-item">Pakiet MAX - wniesienie, przykręcenie podstawy, podłączenie, uruchomienie, wyszukanie kanałów cyfrowych</label>
                        </div>
                    </div>

                    <div class="col-1">
                        <div class="d-flex flex-column">
                            <label>1</label>
                            <label class="text-secondary fs-placeholder" id="name">Liczba</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>79,00 zł</label>
                            <label class="text-secondary fs-placeholder" id="name">Cena</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>w trakcie</label>
                            <label class="text-secondary fs-placeholder" id="name">Status</label>
                        </div>
                    </div>
                </div>
            </li> -->
            <li class="list-group-item border-0 border-bottom">
                <!-- <div class="row align-items-center">
                    <div class="col-1 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary rounded-pill"><i class="bi bi-check-circle"></i> <i class="bi bi-plus"></i> RABAT</button>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <label class="fw-bolder fs-list-item">TANIEJTVTRZECI - Minus 1000 zł na zakup trzech telewizorów marki Philips</label>
                        </div>
                    </div>

                    <div class="col-1">
                        <div class="d-flex flex-column">
                            <label>1</label>
                            <label class="text-secondary fs-placeholder" id="name">Liczba</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>-1000,00 zł</label>
                            <label class="text-secondary fs-placeholder" id="name">Cena</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>w trakcie</label>
                            <label class="text-secondary fs-placeholder" id="name">Status</label>
                        </div>
                    </div>
                </div> -->
                <product-add-service [productOrderService]="getExtendWarranty()"></product-add-service>
                <!-- <hr class="w-100"> -->
            </li>
            <li class="list-group-item border-0 border-bottom">
                <product-add-service [productOrderService]="getSocketMax()"></product-add-service>
            </li>
        </ul>
        <div class="row gx-3">
            <div class="col-6">
                <p class="mt-4 fs-4 fw-bold">{{ 'summary.title' | translate}}</p>
                <div class="card">
                    <div class="card-body">
                        <row-data-label value="10 997,00 zł" label="{{ 'summary.value_products' | translate }}"></row-data-label>
                        <row-data-label value="380,00 zł" label="{{ 'summary.value_warranty' | translate }}"></row-data-label>
                        <row-data-label value="79,00 zł" label="{{ 'summary.value_services_in_basket' | translate }}"></row-data-label>
                        <row-data-label value="0,00 zł" label="{{ 'summary.discounts_charged' | translate }}"></row-data-label>
                        <hr class="w-100">
                        <row-data-label class="fw-bold" value="11 456,00 zł" label="{{ 'product.sum' | translate }}"></row-data-label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-4 alert alert-primary" role="alert">
                    <h4 class="alert-heading">Wybierz z poniższej listy produkty, dla których chcesz dodać ubezpieczenie.</h4>
                    <p>Po kliknięciu w przycisk zostaniesz przeniesiony do koszyka, gdzie wybierxzesz odpowiedni wariant</p>
                    <div class="d-flex justify-content-between mt-3 align-items-center">
                        <button class="btn btn-primary rounded-pill text-uppercase h-25" type="button">Dodaj ubezpieczenie</button>
                        <i class="bi bi-shield-check" style="font-size: 5rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>