<!-- <div class="m-1"> -->
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Szczegóły <span class="text-secondary">Philips 70PUS6704/12</span>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="d-flex flex-column">

        <ul class="list-group ">
            <li class="list-group-item border-0 border-bottom">
                <!-- <div class="row align-items-center">
                    <div class="col-1 d-flex align-items-center justify-content-between">
                        <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." class="img-thumbnail" style="width: 100px;">
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <label class="fw-bolder">Faktura korygująca nr FKV/C4/00001</label>
                            <div class="flex-row">
                                <label class="fs-placeholder text-secondary">Dokument</label>
                                <label class="fs-placeholder text-secondary ms-4">119404586</label>
                            </div>

                        </div>
                    </div>

                    <div class="col-1">
                        <div class="d-flex flex-column">
                            <label>1</label>
                            <label class="text-secondary fs-placeholder" id="name">Liczba</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>3 458,00 zł</label>
                            <label class="text-secondary fs-placeholder" id="name">Cena</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>w trakcie</label>
                            <label class="text-secondary fs-placeholder" id="name">Status</label>
                        </div>
                    </div>
                </div> -->
                <product-item [productItemModel]="productItemOrder"></product-item>
            </li>
            <li class="list-group-item border-0 border-bottom">
                <product-item [productItemModel]="productItemOrder"></product-item>
            </li>
            <li class="list-group-item border-0 border-bottom">
                <div class="row align-items-center">
                    <div class="col-1 d-flex align-items-center d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary rounded-pill"><i class="bi bi-check-circle"></i> <i class="bi bi-plus"></i>Usługa</button>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <label class="fw-bolder fs-list-item">Pakiet MAX - wniesienie, przykręcenie podstawy, podłączenie, uruchomienie, wyszukanie kanałów cyfrowych</label>
                        </div>
                    </div>

                    <div class="col-1">
                        <div class="d-flex flex-column">
                            <label>1</label>
                            <label class="text-secondary fs-placeholder" id="name">Liczba</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>79,00 zł</label>
                            <label class="text-secondary fs-placeholder" id="name">Cena</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>w trakcie</label>
                            <label class="text-secondary fs-placeholder" id="name">Status</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0 border-bottom">
                <div class="row align-items-center">
                    <div class="col-1 d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-primary rounded-pill"><i class="bi bi-check-circle"></i> <i class="bi bi-plus"></i> RABAT</button>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <label class="fw-bolder fs-list-item">TANIEJTVTRZECI - Minus 1000 zł na zakup trzech telewizorów marki Philips</label>
                        </div>
                    </div>

                    <div class="col-1">
                        <div class="d-flex flex-column">
                            <label>1</label>
                            <label class="text-secondary fs-placeholder" id="name">Liczba</label>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>-1000,00 zł</label>
                            <label class="text-secondary fs-placeholder" id="name">Cena</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-column">
                            <label>w trakcie</label>
                            <label class="text-secondary fs-placeholder" id="name">Status</label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row gx-3">
            <div class="col-6">
                <p class="mt-4 fs-4 fw-bold">Podsumowanie</p>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <label for="name" class="control-label">Wartość towarów</label>
                            <label class="control-label" id="name">3 999,00 zł</label>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <label for="name" class="control-label">Wartość gwarancji</label>
                            <label class="control-label" id="name">0,00 zł</label>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <label for="name" class="control-label">Wartość usług w koszyku</label>
                            <label class="control-label" id="name">79,00 zł</label>
                        </div>
                        <div class="d-flex flex-row justify-content-between">
                            <label for="name" class="control-label">Naliczone rabaty</label>
                            <label class="control-label" id="name">-1 000,00 zł</label>
                        </div>
                        <hr class="w-100">
                        <div class="d-flex flex-row justify-content-between fw-bold">
                            <label for="name" class="control-label">Razem</label>
                            <label class="control-label" id="name">5996,00 zł</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mt-4 alert alert-primary" role="alert">
                    <h4 class="alert-heading">Wybierz z poniższej listy produkty, dla których chcesz dodać ubezpieczenie.</h4>
                    <p>Po kliknięciu w przycisk zostaniesz przeniesiony do koszyka, gdzie wybierxzesz odpowiedni wariant</p>
                    <div class="d-flex justify-content-between mt-3 align-items-center">
                        <button class="btn btn-primary rounded-pill text-uppercase h-25" type="button">Dodaj ubezpieczenie</button>
                        <i class="bi bi-shield-check" style="font-size: 5rem;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
