<div class="offcanvas offcanvas-bottom rounded-3 m-1" tabindex="-1" id="documentsOffCanvas" #documentsBar>
    <div class="m-3">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Dokumenty <span class="text-secondary">Zlecenie nr:2020 123 456 789</span></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="row border border-light rounded align-items-center">
                <div class="col-1">
                    <img src="./images/tv.jpg" alt="..." class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-5">
                    <div class="d-flex flex-column">
                        <label class="fw-bolder">Faktura korygująca nr FKV/C4/00001</label>
                        <label class="fs-placeholder text-secondary">Dokument</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex flex-column">
                        <label>13.10.2019</label>
                        <label class="text-secondary fs-placeholder" id="name">Data utworzenia</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex flex-column">
                        <label>123456</label>
                        <label class="text-secondary fs-placeholder" id="name">Nr dokumentu</label>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#invoiceOffCanvas" aria-controls="invoiceOffCanvas">Szczegóły</button>
                </div>
            </div>

            <div class="row border border-light rounded align-items-center mt-2">
                <div class="col-1">
                    <img src="./images/tv.jpg" alt="..." class="img-thumbnail" style="width: 100px;">
                </div>
                <div class="col-5">
                    <div class="d-flex flex-column">
                        <label class="fw-bolder">Faktura korygująca nr FKV/C4/00001</label>
                        <label class="text-secondary fs-placeholder">Dokument</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex flex-column">
                        <label>13.10.2019</label>
                        <label class="text-secondary fs-placeholder" id="name">Data utworzenia</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="d-flex flex-column">
                        <label>123456</label>
                        <label class="text-secondary fs-placeholder" id="name">Nr dokumentu</label>
                    </div>
                </div>
                <div class="col-2">
                    <!-- <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#invoiceOffCanvas" aria-controls="invoiceOffCanvas">Szczegółyyy</button> -->
                    <button class="btn btn-primary " type="button" data-bs-dismiss="offcanvas" (click)="openInvoice($event)">Invoice VAT</button>
                </div>
            </div>
            <template #dynamicComponentContainer></template>
        </div>
    </div>
</div>