<div class="card">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-1">
                <div class="d-flex flex-column">
                    <label>13.10.2019</label>
                    <label class="text-secondary fs-placeholder">Data wystawienia</label>
                </div>
            </div>

            <div class="col-1">
                <div class="d-flex flex-column">
                    <label>C4</label>
                    <label class="text-secondary fs-placeholder">Sprzedano w</label>
                </div>
            </div>
            <div class="col-1">
                <div class="d-flex flex-column">
                    <label>13.10.2019</label>
                    <label class="text-secondary fs-placeholder">Fiskalizacja</label>
                </div>
            </div>
            <div class="col-2">
                <div class="d-flex flex-column">
                    <label>2137WA</label>
                    <label class="text-secondary fs-placeholder">Pracownik wystawiający</label>
                </div>
            </div>
            <div class="col-5">
                <div class="d-flex flex-column">
                    <label>Franz Smuda | 690 555 444 | franz.smuda@buziaczek.pl</label>
                    <label class="text-secondary fs-placeholder">Nabywca</label>
                </div>
            </div>
            <div class="col-1">
                <div class="d-flex flex-column">
                    <label>img euro</label>

                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-3">
                <button class="btn btn-primary rounded-pill text-uppercase mt-3 w-100 fw-bolder" data-bs-toggle="offcanvas" data-bs-target="#createInvoiceProducts" aria-controls="offcanvasBottom" type="button">Wystaw fakturę</button>
            </div>

            <div class="col-3">
                <button class="btn btn-outline-primary rounded-pill text-uppercase mt-3 w-100 fw-bolder" type="button">Rozlicz należność</button>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-primary rounded-pill text-uppercase mt-3 w-100 fw-bolder" type="button">Dodaj gwarancję</button>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-primary rounded-pill text-uppercase mt-3 w-100 fw-bolder" data-bs-toggle="offcanvas" data-bs-target="#documentsOffCanvas" aria-controls="documentsOffCanvas" type="button">Zobacz dokumenty</button>
            </div>

        </div>
    </div>
</div>