<div class="row align-items-center">
    <div class="col-1" style="width: 130px;">
        <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-11">
        <div class="row align-items-center">
            <div class="col-8">
                <div class="flex-column">
                    <label class="fw-bolder" id="name">Philips 70PUS6704/12</label>
                    <div class="row gx-1">
                        <div class="col-2">
                            <label class="fs-placeholder text-secondary" id="type">Telewizor LED</label>
                        </div>
                        <div class="col-2">
                            <label class="fs-placeholder text-secondary" id="number">1194364</label>
                        </div>
                    </div>
                </div>
            </div>

            <cell-data-label class="col-1" value="1" label="{{ 'product.count' | translate }}"></cell-data-label>
            <cell-data-label class="col-1" value="2 990,00 zł" label="{{ 'product.price' | translate }}"></cell-data-label>
            <cell-data-label class="col-1" value="do opłacenia" label="{{ 'product.status' | translate }}"></cell-data-label>
        </div>

        <div class="row align-items-center mt-2">
            <div class="col-9">
                <div class="d-flex flex-column">
                    <label class="text-secondary fs-list-item">{{ "product.catalog_price" | translate}}</label>
                    <label class="text-secondary fs-list-item" id="name">Minus 1 000 zł na zakup trzech telewizorów marki Philips</label>
                </div>
            </div>

            <div class="col-2">
                <div class="d-flex flex-column">
                    <label class="text-secondary">3 999,00 zł</label>
                    <label class="text-secondary" id="name">-333,33 zł</label>
                </div>
            </div>
        </div>
    </div>
</div>