<div class="offcanvas offcanvas-bottom rounded-3 m-1" style="height: 600px;" tabindex="-1" id="productDetailsCanvas">
    <div class="m-3">
        <div class="offcanvas-header fs-4 fw-bold align-items-center">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Szczegóły <span class="text-secondary">Philips 70PUS6704/12</span></h5>

            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group overflow-auto" style="height: 410px;">
                <li class="list-group-item border-0">
                    <div class="d-flex align-items-center">
                        <div class="col-1 w-10" style="width: 10%;">
                            <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." style="width: 100%;">
                        </div>
                        <div class="col-10" style="width: 90%;">

                            <div class="row align-items-center m-2">
                                <div class="col-6" style="width: 55%;">
                                    <div class="flex-column">
                                        <label class="fw-bolder" id="name">Philips 70PUS6704/12</label>
                                        <div class="row gx-1">
                                            <div class="col-2">
                                                <label class="fs-placeholder text-secondary" id="type">Telewizor LED</label>
                                            </div>
                                            <div class="col-2">
                                                <label class="fs-placeholder text-secondary" id="number">1194364</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-1">
                                    <div class="d-flex flex-column">
                                        <label>1</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.count" | translate }}</label>
                                    </div>
                                </div>
                                <div class="col-1" style="width: 9.5%;">
                                    <div class="d-flex flex-column">
                                        <label>2 999,00 zł</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.price" | translate }}</label>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex flex-column">
                                        <label>do opłacenia</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.status" | translate }}</label>
                                    </div>
                                </div>
                            </div>


                            <div class="row align-items-center m-2">
                                <div class="col-7" style="width: 63.3%;">
                                    <div class="d-flex flex-column">
                                        <label class="text-secondary fs-list-item">{{ "product.catalog_price" | translate}}</label>
                                        <label class="text-secondary fs-list-item" id="name">Minus 1 000 zł na zakup trzech telewizorów marki Philips</label>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="d-flex flex-column">

                                        <label class="text-secondary">3 999,00 zł</label>
                                        <label class="text-secondary" id="name">-333,33 zł</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="list-group-item bg-light bg-gradient border-0">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="flex-column">
                                <div class="row gx-4 align-items-center">
                                    <div class="col-1 d-flex justify-content-center"><span><i class="bi bi-plus fa-4x"></i></span></div>
                                    <div class="col-5" style="width: auto;">
                                        <label class="fw-bolder fs-list-item">Przedłuż Gwarancję® wariant PODSTAWOWY - 5 lat</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary btn-light btn-sm rounded-pill">{{ "product.guarantee" | translate }}</button>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column">
                                <label>380,00</label>
                                <label class="fs-placeholder text-secondary">{{ "product.price" | translate}}</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column">
                                <label>do opłacenia</label>
                                <label class="fs-placeholder text-secondary">{{ "product.status" | translate}}</label>
                            </div>
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-outline-primary">{{ "ignore" | translate}}</button>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="flex-column">
                                <div class="row gx-4 align-items-center">
                                    <div class="col-1 d-flex justify-content-center">+</div>
                                    <div class="col-5" style="width: auto;">
                                        <label class="fw-bolder fs-list-item">Pakiet MAX - wniesienie, przykręcenie podstawy, podłączenie, uruchomienie, wyszukanie kanałów cyfrowych</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary btn-light btn-sm rounded-pill">{{ "product.service" | translate}}</button>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column">
                                <label>79,00 zł</label>
                                <label class="fs-placeholder text-secondary">{{ "product.price" | translate}}</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex flex-column">
                                <label>w trakcie</label>
                                <label class="fs-placeholder text-secondary">{{ "product.status" | translate}}</label>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="list-group-item border-0">
                    <div class="d-flex align-items-center">
                        <div class="col-1" style="width: 10%;">
                            <img src="https://f01.esfr.pl/foto/4/66988569337/5efcf64af065e6405439db821118bb44/philips-70pus7805-smart-tv-uhd-ambilight-philips,66988569337_8.jpg" alt="..." style="width: 100%;">
                        </div>
                        <div class="col-10" style="width: 90%;">

                            <div class="row align-items-center m-2">
                                <div class="col-6" style="width: 55%;">
                                    <div class="flex-column">
                                        <label class="fw-bolder" id="name">Philips 70PUS6704/12</label>
                                        <div class="row gx-1">
                                            <div class="col-2">
                                                <label class="fs-placeholder text-secondary" id="type">Telewizor LED</label>
                                            </div>
                                            <div class="col-2">
                                                <label class="fs-placeholder text-secondary" id="number">1194364</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-1">
                                    <div class="d-flex flex-column">
                                        <label>1</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.count" | translate}}</label>
                                    </div>
                                </div>
                                <div class="col-1" style="width: 9.5%;">
                                    <div class="d-flex flex-column">
                                        <label>2 999,00 zł</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.price" | translate}}</label>

                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex flex-column">
                                        <label>do opłacenia</label>
                                        <label class="fs-placeholder text-secondary">{{ "product.status" | translate}}</label>
                                    </div>
                                </div>
                            </div>


                            <div class="row align-items-center m-2">
                                <div class="col-7" style="width: 63.3%;">
                                    <div class="d-flex flex-column">
                                        <label class="text-secondary fs-list-item">{{ "product.catalog_price" | translate}}</label>
                                        <label class="text-secondary fs-list-item" id="name">Minus 1 000 zł na zakup trzech telewizorów marki Philips</label>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="d-flex flex-column">

                                        <label class="text-secondary">3 999,00 zł</label>
                                        <label class="text-secondary" id="name">-333,33 zł</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <hr class="w-100">
            <div class="row">
                <div class="col-7">
                    <h3 class="fs-4 fw-bold">{{ "product.sum" | translate}}</h3>
                </div>
                <div class="col-1">
                    <div class="d-flex flex-column">
                        <label class="ms-3">1</label>
                        <label class="ms-3 fs-placeholder text-secondary">{{ "product.count" | translate}}</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="d-flex flex-column">
                        <label>1</label>
                        <label class="fs-placeholder text-secondary">{{ "product.sum" | translate}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
