<table id="customTable" class="table align-middle table-borderless display" style="width:100%">
    <tbody>
        <tr>
            <td>
                <!-- <photo-description [imgWidth]="100"></photo-description> -->
            </td>
            <td class="align-items-center">
                <a href="#" class="btn btn-outline-secondary btn-light btn-sm rounded-pill text-uppercase"><i class="bi bi-check-circle"></i> {{ "product.discount" | translate}}</a>
            </td>
            <td>
                <cell-data-label value="3" label="{{ 'product.count' | translate}}"></cell-data-label>
            </td>
            <td>
                <cell-data-label value="11 456,00zł" label="{{ 'product.price' | translate}}"></cell-data-label>
            </td>
            <td>
                <cell-data-label value="w trakcie" label="{{ 'product.status' | translate}}"></cell-data-label>
            </td>
            <td>
                <!-- <button class="btn btn-outline-secondary btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWrapper" (click)="showDetails()">{{ "product.details" | translate }}</button> -->
                <button class="btn btn-outline-secondary btn-light" type="button" (click)="showDetails()">{{ "product.details" | translate }}</button>
            </td>
        </tr>
    </tbody>
</table>
