<!-- <div class="offcanvas offcanvas-bottom rounded-3 m-1" style="height: fit-content;" tabindex="-1" id="dataClientInvoice"> -->
<!-- <div class=""> -->
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ "invoice.issue_of_an_invoice" | translate}} <span class="text-secondary">{{ "invoice.selected_elements" | translate}}: 5</span>
        <button class="btn btn-outline-primary rounded-pill text-uppercase fw-bold ms-4" type="button">+ {{ "invoice.new_invoice_details" | translate}}</button>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="d-flex flex-column">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading fs-4">Kupując jako osoba fizyczna nie będziesz mógł zmineić na zakup przez firmę</h4>
        </div>

        <carousel-client-data></carousel-client-data>

        <!-- formularz nowych danych klienta -->
        <form class="">
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <input type="text" class="d-inline form-control" id="name" placeholder="Imię" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="second_name" placeholder="Nazwisko" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="post_code" placeholder="Kod pocztowy" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="city" placeholder="Miejscowość" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="street" placeholder="Ulica" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="row gx-5">
                            <div class="col-6">
                                <input type="text" class="form-control" id="home_no" placeholder="Numer domu" required>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="flat_no" placeholder="Numer mieszkania">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-primary rounded-pill text-uppercase  w-25 mx-auto" type="button" (click)="searchCustomer()">{{ "invoice.search_customer" | translate}}</button>
                </div>
            </div>
        </form>

        <hr class="w-100">
        <div class="row">
            <button class="btn btn-primary rounded-pill text-uppercase w-25" type="button" (click)="exhibitions()">{{ "invoice.exhibit" | translate}}</button>
            <button class="btn btn-outline-light bg-secondary rounded-pill text-uppercase w-25 ms-3" type="button">{{ "ignore" | translate}}</button>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->
