<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <div class="input-group number-spinner">
                <span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                </span>
                <input type="text" class="form-control text-center" value="1">
                <span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>
