<div class="offcanvas-header fs-4 fw-bold align-items-center">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ "invoice.title" | translate}} <span class="text-secondary">1194364</span>
        <button type="button" class="btn btn-outline-success btn-sm btn-sm-header fw-bolder border-2 rounded-pill text-uppercase ms-3"><i class="bi bi-check-circle"></i> {{ "invoice.confirmed" | translate}}</button>
        <button type="button" class="btn btn-outline-primary btn-sm btn-sm-header fw-bolder border-2 rounded-pill text-uppercase ms-3">{{ "invoice.corrective" | translate}}</button>
    </h5>
    <button type="button" class="btn-close text-reset align-top" style="font-size: 1rem;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div class="row align-items-center">
        <div class="col-2">
            <cell-data-label value="Arek Milik" label="{{ 'invoice.first_second_name' | translate}}"></cell-data-label>
        </div>
        <div class="col-2">
            <cell-data-label value="Muszkieterów 15, 00-268 Warszawa" label="{{ 'invoice.address' | translate}}"></cell-data-label>
        </div>
        <div class="col-1">
            <cell-data-label value="8954267145" label="{{ 'invoice.nip' | translate}}"></cell-data-label>
        </div>
        <div class="col-2">
            <cell-data-label value="13.10.2019" label="{{ 'documents.date_created' | translate}}"></cell-data-label>
        </div>
        <div class="col-2">
            <cell-data-label value="11:38" label="{{ 'invoice.time_approval' | translate}}"></cell-data-label>
        </div>
        <div class="col-2">
            <cell-data-label value="9022WA" label="{{ 'invoice.approval_by' | translate}}"></cell-data-label>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center col-5 mt-3 mb-3">
        <button class="btn btn-primary rounded-pill text-uppercase" style="width: 200px;" data-bs-toggle="modal" data-bs-target="#editDataModal">{{ "invoice.data_correction" | translate}}</button>
        <button class="btn btn-primary rounded-pill text-uppercase" style="width: 200px;" type="button">{{ "invoice.reset_correction" | translate}}</button>
        <button class="btn btn-primary rounded-pill text-uppercase" style="width: 200px;" type="button">{{ "invoice.print" | translate}}</button>
    </div>

    <ul class="list-group overflow-auto h-50">
        <li class="list-group-item">
            <product-item [productItemModel]="productItemOrder"></product-item>
        </li>
        <li class="list-group-item">
            <product-item [productItemModel]="productItemOrder"></product-item>
        </li>
        <li class="list-group-item">
            <product-item [productItemModel]="productItemOrder"></product-item>
        </li>
    </ul>
</div>
