<div class="offcanvas offcanvas-bottom h-75 active" tabindex="-1" id="offcanvasWrapper" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <button name="withdraw" (click)="activeComponent = 'documents'">Withdraw</button>
        <button name="enter" (click)="activeComponent = 'details'">Enter Amount to Withdraw</button>
        <a routerLink="canvas/documents" routerLinkActive="active">Users</a>
        <a routerLink="./profile" routerLinkActive="active">Profile</a>
        <div [ngSwitch]="activeComponent">
            <ng-template [ngSwitchCase]="'documents'">
                <p>TypeScript Course</p>
                <!-- <order-documents></order-documents> -->
            </ng-template>
            <ng-template [ngSwitchCase]="'details'">
                <p>JavaScript Course</p>
                <!-- <invoice></invoice> -->
            </ng-template>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>


<!-- <div id="mySidenav" class="sidenav border-0 rounded background-backdrop" [ngClass]="{'open': modelComponent.open ? 'close': modelComponent.open}">
    <div class="m-4">
        <button type="button" class="btn-close text-reset closebtn" (click)="modelComponent.open = false" aria-label="Close"></button>
        <div [ngSwitch]="modelComponent.component">
            <ng-template [ngSwitchCase]="'documents'">
                <order-documents></order-documents>
            </ng-template>
            <ng-template [ngSwitchCase]="'details'">
                <invoice></invoice>
            </ng-template>
        </div>
    </div>
</div> -->