<div class="offcanvas offcanvas-bottom h-75" id="offcanvasWrapper" data-bs-keyboard="false" aria-labelledby="offcanvasBottomLabel">
    <!-- <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">{{ modelComponent.primaryTitle }} <span class="text-secondary">{{ modelComponent.secondatyTitle }}</span>
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <router-outlet name="canvasOutlet"></router-outlet>
    </div> -->
    <div class="mx-3">
        <router-outlet name="canvasOutlet"></router-outlet>
    </div>
</div>